<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<!--<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>-->

	<connectionStrings>
    <add name="izozoWebConnectionString" connectionString="Dsn=izozoWebApplication"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>